*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: orange;
}

.nav{
    background-color: brown;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items:0 1rem;
    gap: 2 rem;
    padding:0 1rem;
}
.site-title{
    font-size: 2rem;
    text-decoration: none;
}
.nav ul{
    padding: 0;
    margin: -163px;
    list-style: none;
    display:flex;
    align-items: center;
    gap: 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
    font-size: larger;
    height: 10%;
    display: flex;
    align-items: stretch;
    padding: -0.25;
}
.nav li:hover{
    background-color: olivedrab;
}
.nav li:active{
    background-color: #fff;
}
